.backups
.fabric

data
downloads
emotes
libraries
logs
resourcify-temp
saves
shaderpacks
versions

authlib-injector.log
command_history.txt
instance.json
instance-lock.json
modpack-metadata.json

servers.dat_old