.backups
.cache
.fabric
.mixin.out
.voxy

config/*
!config/defaultoptions
crash-reports
data
defaultconfigs
downloads
emotes
libraries
logs
saves
screenshots
versions
resourcify-temp
debug
schematics
rainbow

authlib-injector.log
command_history.txt
instance-lock.json
debug-profile.json
hotbar.nbt
instance.json
options.txt
servers.dat
usercache.json
servers.dat_old
modpack-metadata.json